<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css"/>

    <title>Craft-Brew</title>

</head>

<body>
<!-- hecomienza header -->

<%- include('./partials/navbar') %>

<!-- fin de header-->

<!-- hocomienza home  -->

<section class="home" id="home">
    <div class="content">
        <h3>Craft beer has never been so<br/><span class="typed"></span></h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, maxime? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, expedita?</p>
        <a href="product" class="btn">get yours now</a>
    </div>
</section>

<!-- acaba home -->

<!-- comienza about section  -->


<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="content">
            <h3>what makes a beer special?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus qui ea ullam, enim tempora ipsum fuga alias quae ratione a officiis id temporibus autem? Quod nemo facilis cupiditate. Ex, vel?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit amet enim quod veritatis, nihil voluptas culpa! Neque consectetur obcaecati sapiente?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="image">
           
                <div class="carousel">
                    <div class="carousel__item carousel__item--visible">
                      <img src="images/about-img1.jpg" />
                    </div>
                    <div class="carousel__item">
                      <img src="images/about-img2.jpg" />
                    </div>
                    <div class="carousel__item">
                      <img src="images/about-img3.png" />
                    </div>
                    <div class="carousel__actions">
                      <button id="carousel__button--prev" aria-label="Previous slide"><</button>
                      <button id="carousel__button--next" aria-label="Next slide">></button>
                    </div>
                  </div>
        
                </div>
    </div>

</section>


<!-- acaba about -->

<!-- comienza menu  -->

<section class="menu" id="menu">

    <h1 class="heading"> worldwide <span>beer's</span> </h1>

    <div class="box-container">
        <% for(let cerveza of cervezas){ %>
        <div class="box">
            <img src="images/<%= cerveza.img %>" alt="">
            <h3><%= cerveza.titulo%></h3>
            <h4><%= cerveza.tipo%></h4>
            <div class="price"><%= cerveza.precio%></div>
            <a href="#" class="btn">add to cart</a>
        
        </div>
        <% } %>   
    </div>

</section>

<!-- acaba el menu -->

<!---productos nuestros-->

<section class="products" id="products">

    <h1 class="heading"> our <span>beer's</span> </h1>

    <div class="box-container">
        
        <% for(let cerveza of cervezasNuestras){ %>
        <div class="box">
            <div class="content">
                <h3><%= cerveza.titulo%></h3>
                <div class="stars">
                    <% for(let i= 0; i< cerveza.score; i++){ %>
                        <i class="fas fa-star"></i>             
                    <% } %>
                    <% if(cerveza.score < 5){ %>
                        <% for(let i = cerveza.score; i < 5; i++ ){%>
                            <i class="far fa-star"></i>
                        <%}%>
                    <% } %>
                </div>
                <div class="price"><%= cerveza.precio%> <span>$119.99</span></div>
            </div>
            <div class="image">
                <img src="images/<%= cerveza.img %>" alt="">
            </div>
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
            </div>
        </div>
        <% } %>
    </div>

</section>

<!---acaba productos nuestros-->

<!-- comienza el review  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="box-container">
        <% for(let review of reviews){ %>
        <div class="box">
            <div class="quote-icon">
                <i class="far fa-address-card"></i>
            </div> 
            <p><%= review.text %></p>
            <img src="images/<%= review.img%>" class="user" alt="">
            <h3><%= review.name%></h3>
            <div class="stars">
                <% for(let i= 0; i< review.score; i++){ %>
                    <i class="fas fa-star"></i>             
                <% } %>
                <% if(review.score < 5){ %>
                    <% for(let i = review.score; i < 5; i++ ){%>
                        <i class="far fa-star"></i>
                    <%}%>
                <% } %>
            </div>
        </div>
        <%}%>
    </div>

</section>

<!-- acaba review -->

<!-- comienza contacto -->

<section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> us </h1>
    <div class="row">
        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="N A M E">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="E M A I L">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" placeholder="N U M B E R">
            </div>
            <input type="" value="contact now" class="btn" id="send-button-contact">
        </form>
        <iframe class="map" src="https://maps.google.com/maps?q=angel%20de%20la%20revolucion%20mexico&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
</section>

<!-- acaba contatco -->

<!-- fcomienza footer  -->

<%- include('./partials/footer') %>

<!-- acaba footer -->
<script src="js/script.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/sweetalert.js"></script>
<script src="sweetalert2.all.min.js"></script>

<!-- agrego el typed.js-->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="js/typed.js"></script>
<!-- fin de typed typed.js-->


</body>
</html>